In [1]:
a=(1,2,3,4,5,6,7,8,9)
print(sum(a))

45

In [2]:
b=(11,12,13,14,15,16,17)
c=b[::-1]
c

(17, 16, 15, 14, 13, 12, 11)

In [3]:
for i in range(0,30):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [4]:
for i in range(0,30):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [5]:
e=int(input("Enter the number :  "))
h=0
if e<0:
    print("Enter a positive integer")
else:
    for i in range(1,e+1):
        h=h+i
    print(h)

Enter the number :  5
15

In [9]:
f=int(input("Enter the number  "))
j=0
if f<0:
    print("Enter a positive number")
else:
    while f>=0:
        j=j+f
        f=f-1
    print(j)

Enter the number  10
55

In [13]:
num=int(input("enter a number : "))
b=0
temp=num
while temp>0:
    digit=temp%10
    b=b+digit**3
    temp=temp//10
if num==b:
    print("Armstrong number ")
else:
    print("not an armstrong number")

enter a number : 407
Armstrong number

In [16]:
num=int(input("Enter a number"))
r=0
while num!=0:
    digit=num%10
    r=r*10+digit
    num//=10
print("reversed number abhijith  : " +str(r))

Enter a number123456789
reversed number abhijith  : 987654321

In [18]:
n=int(input("Enter a number : "))
n1=0
n2=1
count=0
if n<=0:
    print("Enter a positive number ")
elif n==1:
    print("Fibonacci sequence upto  ",n,":")
    print(n1)
else:
    print("Fibonacci sequence : ")
    while count<n:
        print(n1)
        nth=n1+n2
        n1=n2
        n2=nth
        count=count+1

Enter a number : 10
Fibonacci sequence :
0
1
1
2
3
5
8
13
21
34

SyntaxError: invalid syntax (3872975305.py, line 4)