In [1]:
def sum(a,b):
    print(a+b)
sum(10,20)

30

In [2]:
def student(name,roll_no,place,age,dept):
    print("my name is : ",name)
    print("my roll no is : ",roll_no)
    print("my place is :",place)
    print("my age is : ",age)
    print("my department is :",dept)
#     print(name,roll_no,place,age,dept)
student("aman",38,"kannur",21,"DS")

my name is :  aman
my roll no is :  38
my place is : kannur
my age is :  21
my department is : DS

In [3]:
def customer(name,id_num,designation,place):
    print("my name is : ",name)
    print("my id num is : ",id_num)
    print("my designation is :",designation)
    print("my place is : ",place)
a=input("Enter your name   ")
b=int(input("Enter you id number  "))
c=input("Enter your designation  ")
d=input("Enter your place  ")
customer(a,b,c,d)

Enter your name   aman
Enter you id number  88
Enter your designation  bsc
Enter your place  knr
my name is :  aman
my id num is :  88
my designation is : bsc
my place is :  knr

In [4]:
def kannur():
    a=90
    print(a)
a=80
kannur()
print(a)

90
80

In [5]:
def jupyter(place,name,id_num):
    print("my place is : ",place)
    print("my name is :",name)
    print("my id number :",id_num)
    b=90
    c=80
    d=70
    print(b,c,d)
b=40
c=50
d=30
u=input("Enter your place")
y=input("Enter your name")
x=int(input("Enter your id num"))
jupyter(u,y,x)
print(b,c,d)

Enter your placeknr
Enter your nameaman
Enter your id num99999
my place is :  knr
my name is : aman
my id number : 99999
90 80 70
40 50 30

In [6]:
def world():
    '''to print a variable'''
    e=9900
    print(e)
e=777
world()
print(e)

9900
777

In [7]:
def wish(name,greet="good morning"):
    print("hello" ,name + ',' + greet)
wish("aman")
wish("abhijith","good n8")

hello aman,good morning
hello abhijith,good n8

In [8]:
def write(name,state,age=21,place="kannur"):
    print("i am ",name)
    print("my state is ",state)
    print("my age is",age)
    print("i am comming from ",place)

write("aman","Goa")
write("abhijith","tamil nadu",25)
write("anjali","kerala",55,"kollam")
write("kavya","punjab","kozhikode")

i am  aman
my state is  Goa
my age is 21
i am comming from  kannur
i am  abhijith
my state is  tamil nadu
my age is 25
i am comming from  kannur
i am  anjali
my state is  kerala
my age is 55
i am comming from  kollam
i am  kavya
my state is  punjab
my age is kozhikode
i am comming from  kannur

In [9]:
def calculation(a,b):
    print(a+b)
    print(a*b)
calculation(4,5)

9
20

In [10]:
def employee(name,salary=9000):
    print("Name is : ",name)
    print("Salary is : ",salary)
employee("aman",79999)
employee("abhijith")

Name is :  aman
Salary is :  79999
Name is :  abhijith
Salary is :  9000

In [11]:
def student(name,department="BBA",place="kannur"):
    print("My name is : ",name)
    print("My department is : ",department)
    print("My place is : ",place)
student("abhijith")
student("anjaly","bba aviation")
student(name="aman",department="BSC")
student(department="BCOM",name="pranav")
student("rithul",department="Electronics")
student("appu",department="BA")

My name is :  abhijith
My department is :  BBA
My place is :  kannur
My name is :  anjaly
My department is :  bba aviation
My place is :  kannur
My name is :  aman
My department is :  BSC
My place is :  kannur
My name is :  pranav
My department is :  BCOM
My place is :  kannur
My name is :  rithul
My department is :  Electronics
My place is :  kannur
My name is :  appu
My department is :  BA
My place is :  kannur

In [12]:
q=lambda k:k*2
print(q(20))

40

In [13]:
f=[1,2,3,4,5,6,7,8,9,10]
t=list(filter(lambda o:(o%2==0),f))
t

[2, 4, 6, 8, 10]

In [14]:
e=[1,2,3,4,5,6,7,8,9]
f=list(map(lambda g:g*2,e))
print(f)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
x=6666
def student(name,department,idno=86):
    x=90
    print(x)
    print("My name is ",name)
    print("my department is  ",department)
    print("my id number is ",idno)
student("aman","bsc")
print(x)

90
My name is  aman
my department is   bsc
my id number is  86
6666

In [20]:
import math
print(math.pi)

3.141592653589793

In [22]:
import math as m
print(m.pi)

3.141592653589793

In [25]:
from math import pi
pi

3.141592653589793

In [26]:
from math import *
pi

3.141592653589793

In [2]:
def details(name="aman"):
    print(name)
details()

aman

In [3]:
def add():
    a=int(input("enter a number : "))
    b=int(input("enter a number :  "))
    print(a+b)
add()

enter a number : 99
enter a number :  1
100

In [4]:
def add(a,b):
    print(a+b)
a=int(input("enter a number : "))
b=int(input("enter a number : "))
add(a,b)

enter a number : 66
enter a number : 4
70

In [10]:
def circle(pi=3.14):
    print(pi*r*r)
r=int(input("Enter the radius of the circle : "))
circle()

Enter the radius of the circle : 2
12.56

In [14]:
def power(x,y):
    print(x**y)
x=int(input("enter the number : "))
y=int(input("enter the power : "))
power(x,y)

enter the number : 5
enter the power : 2
25

In [17]:
def triangle(a=1/2):
    print(a*b*h)
b=int(input("Enter the value : "))
h=int(input("enter a number : "))
triangle()

Enter the value : 4
enter a number : 5
10.0